@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


body {
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

.titulo {
    margin: 40px 0 40px 0;
}

.titulo h1 {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    color: #75B79E;
}

.conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo-de-jogo {
    display: flex;
    justify-content: space-evenly;
    max-width: 872px;
    flex-wrap: wrap;
}

.conteudo img {
    height: 100px;
    width: 100px;
}

.carta {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 200ms linear;
}

.face {
    height: 146px;
    width: 117px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;

    margin: 12px;
}

.frente {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* .verso {} */

.virar {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.hidden {
    display: none;
}

.tela-final {
    width: 100vw;
    height: 100vw;

    background-color: rgba(177, 235, 141, 0.8);
    z-index: 1;
    position: fixed;
}

.tela-final p {
    font-size: 25px;

}

.tela-final img {
    height: 50%;
    width: auto;
}

.tela-final div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    width: 500px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 20px;
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    z-index: 2;
}


@media (max-width: 390px) {
    .titulo h1 {
        font-size: 36px;
    }

    .campo-de-jogo {
        flex-direction: column;
    }

    .tela-final p {
        font-size: 20px;
    }

    .tela-final {
        min-height: 2000px;
    }

    .tela-final div {
        height: 300px;
        width: 320px;
        top: calc(50% - 150px);
        left: calc(50% - 160px);
    }
}